- provide :title, @page.title

.sctructure
	.content
		<h1>Вечеринки знакомства помогут найти судьбу</h1>
		<p>Одним из самых интересных и популярных способов найти свою вторую половинку уже давно стали <b>вечеринки знакомства</b>. Это уникальные мероприятия призваны соединить одинокие сердца. Санкт-Петербург предлагает широкий выбор возможностей. Какими же бывают вечера для желающих познакомиться:</p>
		<p>•	Быстрые свидания. Довольно известное и новомодное течение. Вы приходите в уютное кафе и общаетесь с массой собеседников. При этом времени у вас по 2 минуты на каждого из них. Но узнать человека за столь короткий срок практически невозможно.</p>
		<p>•	Тематические мероприятия. Такие <b>вечеринки знакомства</b> редко заканчиваются успехом, ведь довольно часто хорошие люди отличаются робостью и просто стесняются подойти первыми.</p>
		<p>•	Свидания вслепую. Обычно они происходят через интернет. Но стоит помнить, что фотографии и описания собственной внешности и качеств часто оказываются приукрашенными.</p>
		<p>•	Свидания без слов. Это абсолютно новый, но стремительно набирающий популярность, метод поиска своей пары. Данные <b>вечеринки знакомства</b> отличаются своей искренностью, ведь именно здесь, вы получаете шанс заглянуть собеседнику прямо в душу, увидеть его мотивы и качества.</p>
		<p>«Свидания без слов» – лучший способ встретить искреннего и настоящего человека. К чему разговоры? Достаточно одного взгляда.</p>
