- provide :title, @page.title

.sctructure
	.content
		<h1>Быстрые свидания – оптимальное решение личных проблем</h1>
		<p>Speed-dating или <b>быстрые свидания</b> – это уникальный способ максимально быстро познакомиться с достаточно большим количеством новых людей. Они часто помогают завести друзей, найти пару на вечер или на всю жизнь.</p>
		<p>Вечеринка проходит в стиле беседы. Но только лица за столиком довольно быстро сменяют друг друга. Вы можете шутить, смеяться, говорить правду или врать – делайте что угодно, чтобы узнать нового собеседника за столом. Такие <b>быстрые свидания</b> – расширяют круг знакомств. Но помогут ли она найти вторую половинку? Шансы не слишком велики. Хотя они есть всегда.</p>
		<p>Есть и второй способ спид-дэйтинга – свидания без слов. Это абсолютно новое течение, организованное людьми, которые устали от притворства и лжи. Они хотят видеть суть и намерения человека сразу. Мало кто, скрывая что-либо, согласится смотреть собеседнику прямо в глаза на протяжении нескольких минут.</p>
		<p>Глаза – это зеркало души. В них вы легко найдете правду и ответы на все ваши вопросы. Сможете достучаться до самых глубоких струн души. Такие <b>быстрые свидания</b> часто дают толчок к зарождению новых отношений, открывают собеседнику истинное лицо, показывают все тайное, помогают раскрыться.</p>
		<p>Свидания без слов – это лучший способ начать искренние и настоящие отношения.</p>
