- provide :title, @page.title

.sctructure
	.content
		<h1>Где познакомиться в Санкт-Петербурге</h1>
		<p>Питер достаточно большой город и мест, <b>где познакомиться</b> с представителями противоположного пола, большое множество. Но такие встречи и попытки найти родную душу редко заканчиваются успехом, ведь общение всегда таит в себе подтекст, скрывающий истинные мотивы собеседника.</p>
		<p>Вы устали от бесконечных и бессмысленных свиданий с людьми, которые только и думают о количестве покоренных сердец? Значит, хватит болтать – пора заглянуть собеседнику в глаза. Важно не просто смотреть, а увидеть суть и осознать, без лишних слов и пафоса, кто перед вами, интересно ли вам продолжение общения.</p>
		<p>Для того, чтобы понять, <b>где познакомиться</b> с людьми, которые так же, как и вы устали от бессмысленной суеты и быстрого течения времени, достаточно сходить на «Свидание без слов». Только здесь, перед вами откроется возможность увидеть истинное лицо собеседника, который не сможет спрятаться за водопадом слов.</p>
		<p>Всего полторы минуты и вы узнаете о человеке практически все. Всего полторы минуты дадут больше информации, чем годы общения. Всего две минуты и вы увидите все тайное, эмоции и чувства собеседника.</p>
		<p>Если вы ищете серьезных отношений, то теперь вопрос о том, <b>где познакомиться</b> с интересным человеком, решен. «Свидание без слов» – ваш шанс познакомиться.</p>
