- provide :title, @page.title

.sctructure
	.content
		<h1>Где найти девушку для серьезных отношений</h1>
		<p>Современные девушки всегда прекрасно выглядят, и познакомиться с ними стремится каждый парень. Но довольно часто, симпатичное личико таит за собой коварную и расчетливую дамочку. При первом же взгляде она оценивает ваш гардероб и уже точно знает: соответствуете вы ее потребностям или нет. Так, <b>где найти девушку</b>, которая сможет ответить взаимностью искренне, а, не исходя из ваших финансовых возможностей? Чаровницу, которая покорит открытостью и тем, что она настоящая? Конечно же, на «Свидании без слов».</p>
		<p>Только здесь, вы сможете заглянуть человеку в глаза. Вам не нужно стыдливо прятать взгляд или отводить его. Только здесь, вы познаете настоящую свободу общения – беседу без слов. Только глаза в глаза, в полной тишине и с приглушенным светом.</p>
		<p>Только здесь, вопрос: <b>где найти девушку</b>, которая очарует искренней улыбкой, перестает быть актуальным. Потому что вот она, сидит перед вами, немного стесняясь и открывая самые тайные закоулки своей души именно вам. Достаточно просто заглянуть в глаза, и вы все увидите: усталость, простоту, загадку и надежду. Возможно, вам повезет, и во взгляде вы прочитаете симпатию.</p>
		<p>Петербург - большой город, он манит богемной жизнью и гламуром, но не этого жаждет душа. Каждый хочет встретить близкого по духу человека. <b>Где найти девушку</b> или парня? Конечно же, на свидании без слов.</p>
