- provide :title, @page.title

.sctructure
	.content
		<h1>Где найти парня в Питере</h1>
		<p>Многие девушки Петербурга задаются вопросом: <b>где найти парня</b>? Но не просто так, а чтобы честного и открытого. Но молодые люди, с которыми они обычно начинают общение на улицах города или в модных заведениях, редко оправдывают надежды. Мало того, такие знакомства часто заканчиваются разочарованием, ведь внешняя привлекательность не гарантирует появления более высоких чувств.</p>
		<p>Многие посещают быстрые свидания, но на них редко можно встретить приятного собеседника, при этом многие ищут «пару на вечер», а не серьезных отношений. Ведь мест, <b>где найти парня</b> для мимолетного увлечения, так много.</p>
		<p>Другое дело – поиск с серьезными целями. Ведь так хочется тепла и любви, которая будет длиться не один месяц. Для этого важно узнать собеседника, постичь его суть – заглянуть в душу.</p>
		<p>Оптимальным способом для знакомства и решением проблемы «<b>где найти парня</b>», являются «Свидания без слов». Только здесь, собеседник не сможет скрыться за мишурой красивых фраз. Говорить будут только глаза. Вы наконец-то осознаете, что такое настоящая симпатия, ведь одного взгляда вполне достаточно, чтобы влюбиться.</p>
		<p>Свидания без слов – это лучший способ скоротать вечер в приятной компании. Мало ли, вдруг именно здесь вы встретите свою судьбу?</p>
