- provide :title, 'Оплата'

- js 'pay'

.welcome.pay
  -# .pay-description
  -#   %h1 Оплата через Яндекс.Деньги
  -#   = form_tag pay_with_yandex_money_path do
  -#     -# = text_field_tag 'name', '', placeholder: 'Введи своё имя...'
  -#     -# = email_field_tag 'email', '', placeholder: 'Введи свой email...'
  -#     = text_field_tag 'amount', '1000 руб.', placeholder: 'Введите сумму...', readonly: true
  -#     = submit_tag 'Оплатить'
  -#   %br
  -#   %p Когда ты нажмёшь на кнопку "Оплатить", браузер перейдет на сайт Яндекс.Денег, и Яндекс спросит у тебя разрешения, чтобы сервис "Свидания без Слов" перевел стоимость входного билета на свой счет. Когда ты дашь разрешение (введя платежный пароль), наш сайт проведет платеж автоматически.

  .content
    %h1.title Теперь осталось оплатить свой билет
    %span
      %h2.title Выбери наиболее удобный для тебя способ оплаты:
    %ol
      %li
        .sber-logo= image_tag('sber-logo.png')
        Сбербанк: перевод через
        %a.sber-online{ data: { content: '<h1>Оплата через систему Сбербанк ОнЛ@йн</h1><br/><br/><br/><ol><li>Зайди в личный кабинет «Сбербанк Онлайн» – введи логин, пароль и затем одноразовый пароль подтверждения.</li><li>В разделе «Платежи и переводы» выбери раздел «Перевод клиенту Сбербанка»</li><li>Для совершения перевода введи номер карты получателя: 5469550014061482.</li></ol><p>Перевод на карту Сбербанка можно сделать как по номеру карты (5469550014061482), так и по номеру телефона получателя (9531470785).</p><a target="_blank" href="https://online.sberbank.ru/CSAFront/index.do">Перейти в Сбербанк Онлайн</a>' } } Сбербанк ОнЛ@йн
        ,
        %a{ data: { content: "<h1>Оплата через систему мобильный банк Сбербанка</h1><br/><br/><br/><ol><li> Для перевода на карту Сбербанка отправь SMS на номер 900 с текстом: <br><strong>ПЕРЕВОД 9531470785 1000</strong><br> где 9531470785 – это номер телефона получателя, 1000 – сумма перевода. </li><li>В ответ тебе придет SMS с именем получателя и кодом. Проверьте указанные данные и отправьте на номер 900 полученный код для подтверждения перевода.</li></ol><p>Обрати внимание! В целях безопасности на переводы по номеру телефона установлены следующие ограничения (лимиты):</p> – не более 8 000 рублей в сутки – лимит на суммы переводов (как отправителю, так и получателю); <br> – не более 10 операций в сутки – лимит на количество переводов." } } мобильный банк
        или
        %a{ data: { content: '<h1>Оплата через банкоматы Сбербанка</h1><br/><br/><br/><ol><li>В главном меню после ввода ПИН-кода карты выбери «Платежи и переводы».</li><li>Затем «Перевод средств».</li><li>Из реквизитов тебе понадобится только номер карты получателя: 5469550014061482.</li></ol><p><a href="http://www.sberbank.ru/saintpetersburg/ru/about/today/atm/" target="_blank">Найти ближайший банкомат</a></p>' } } через банкоматы и терминалы
        \.
      %li
        .ym-logo=image_tag('ym-logo.png')
        Яндекс.Деньги: оплата через
        %a{ data: { content: "<h1>Оплата через Яндекс.Деньги</h1><form accept-charset='UTF-8' action='/payments/pay_with_yandex_money' method='post'><div style='display:none'><input name='utf8' type='hidden' value='✓'><input name='authenticity_token' type='hidden' value=''></div><input id='amount' name='amount' placeholder='Введите сумму...' readonly='readonly' type='text' value='1000 руб.'><input name='commit' type='submit' value='Оплатить'></form><br><p>Когда ты нажмёшь на кнопку 'Оплатить', браузер перейдет на сайт Яндекс.Денег, и Яндекс спросит у тебя разрешения, чтобы сервис 'Свидания без Слов' перевел стоимость входного билета на свой счет. Когда ты дашь разрешение (введя платежный пароль), наш сайт проведет платеж автоматически.</p><p>После оплаты отправь мне письмо с темой 'оплатил билет' и укажи в нём своё Имя и Фамилию.</p><br><p><b>В ответ я вышлю тебе на твой e-mail адрес письмо с билетом на Свидания Без Слов.</b></p><p><i> Если возникнут технические вопросы по оплате, пиши мне на почту или в <a href='http://vk.com/andreyegazing'>ЛС Вконтакте</a>.</i></p>" } } яндекс.кошелёк
        или
        = link_to 'банковскую карту', pay_with_card_path, method: :post
        \.
      %li
        .wm-logo=image_tag('wm-logo.png')
        WebMoney: оплата через
        %a{ data: { content: '<h1>Оплата через сервис Web Merchant Interface</h1><form accept-charset="UTF-8" action="https://merchant.webmoney.ru/lmi/payment.asp" method="post" name="Pay"><div style="display:none"><input name="utf8" type="hidden" value="✓"></div><input id="LMI_PAYMENT_DESC_BASE64" name="LMI_PAYMENT_DESC_BASE64" type="hidden" value="0J7Qv9C70LDRgtCwINCx0LjQu9C10YLQsA== "><input id="LMI_PAYMENT_NO" name="LMI_PAYMENT_NO" type="hidden" value="1"><input id="LMI_PAYEE_PURSE" name="LMI_PAYEE_PURSE" type="hidden" value="R154893254559"><input id="LMI_MODE" name="LMI_MODE" type="hidden" value="0"><input id="LMI_PAYMENT_AMOUNT" class="amount" name="LMI_PAYMENT_AMOUNT" placeholder="Введите сумму..." readonly="readonly" type="text" value="1000"><input name="commit" type="submit" value="Оплатить"></form><br><p>Когда ты нажмёшь на кнопку "Оплатить", браузер перейдет на сайт webmoney.ru для оплаты через WM-кошелёк. После завершения оплаты, твой браузер перенаправит тебя снова на сайт Свиданий без Слов.</p>' } } webmoney.кошелёк
        \.

      %li
        .qiwi-logo=image_tag('qiwi-logo.png')
        Qiwi.Терминал: оплата через
        %a{ data: { content: "<h1>Инструкция оплаты через QIWI ТЕРМИНАЛ</h1><p>Мои реквизиты QIWI-кошелька: 89531470785</p><p>Вам необходимо пополненить кошелёк VISA QIWI WALLET, и вот как это сделать в ближайшем QIWI-терминале:</p><ol><li>Находим терминал QIWI. Выглядит он как на фото ниже.</li><li> Выбираем пункт “VISA QIWI WALLET”: <img alt='Qiwi 1' src='/photos/qiwi-1.jpg'></li><li> На следующем экране выбираем пункт “Пополнить” <img alt='Qiwi 2' src='/photos/qiwi-2.jpg'></li><li> На следующем экране вводим реквизиты QIWI-кошелька: 89531470785 <img alt='Qiwi 3' src='/photos/qiwi-3.jpg'></li><li> Далее, в свободной форме для комментария, пишем ВАШЕ Имя и Фамилию (или то, как Вас зовут Вконтакте). Это нужно для того, чтобы я мог видеть от кого пришёл платёж. <img alt='Qiwi 4' src='/photos/qiwi-4.jpg'></li><li> Далее проверяем правильность ввода реквизитов QIWI-кошелька (обычно без восьмёрки). <img alt='Qiwi 5' src='/photos/qiwi-5.jpg'></li><li> Вводим деньги. <img alt='Qiwi 6' src='/photos/qiwi-6.jpg'></li><li> Нажимаем оплатить. <p>Забираем чек. На всякий случай, чек надо сохранить.</p></li><li>После оплаты отправь мне письмо с темой 'оплатил билет' и укажи в нём своё Имя и Фамилию (которые ты указывал в комментариях при оплате).</li></ol><br><strong>В ответ я вышлю тебе на твой e-mail адрес письмо с билетом на Свидания Без Слов.</strong><p><i>+Если у тебя есть собственный киви-кошелёк – то можно перевести деньги непосредственно с баланса твоего кошелька на кошелек с номером телефона 89531470785. После этого нужно будет написать мне на почту с какого номера ты сделал перевод.</i></p><p><i> Если возникнут технические вопросы по оплате, пиши мне на почту или в <a href='http://vk.com/andreyegazing'>ЛС Вконтакте</a> . </i></p>"} } qiwi.терминал
        или
        = link_to 'qiwi.кошелёк', 'https://qiwi.ru/', target: '_blank'
        \.
  = render 'layouts/sidebar_only_group'